@font-face {
	font-family: HelveticaNeueBlack;
	font-display: swap;
	src: url("../fonts/HelveticaNeueBlack.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: HelveticaNeueBlackItalic;
	font-display: swap;
	src: url("../fonts/HelveticaNeueBlackItalic.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: HelveticaNeueBold;
	font-display: swap;
	src: url("../fonts/HelveticaNeueBold.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: HelveticaNeueBoldItalic;
	font-display: swap;
	src: url("../fonts/HelveticaNeueBoldItalic.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: HelveticaNeueHeavy;
	font-display: swap;
	src: url("../fonts/HelveticaNeueHeavy.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: HelveticaNeueItalic;
	font-display: swap;
	src: url("../fonts/HelveticaNeueItalic.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: HelveticaNeueLight;
	font-display: swap;
	src: url("../fonts/HelveticaNeueLight.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: HelveticaNeueHeavyItalic;
	font-display: swap;
	src: url("../fonts/HelveticaNeueHeavyItalic.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: HelveticaNeueMediumItalic;
	font-display: swap;
	src: url("../fonts/HelveticaNeueMediumItalic.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: HelveticaNeueMedium;
	font-display: swap;
	src: url("../fonts/HelveticaNeueMedium.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: HelveticaNeueLightItalic;
	font-display: swap;
	src: url("../fonts/HelveticaNeueLightItalic.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: HelveticaNeueThinItalic;
	font-display: swap;
	src: url("../fonts/HelveticaNeueThinItalic.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: HelveticaNeueThin;
	font-display: swap;
	src: url("../fonts/HelveticaNeueThin.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: HelveticaNeueRoman;
	font-display: swap;
	src: url("../fonts/HelveticaNeueRoman.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: HelveticaNeueUltraLight;
	font-display: swap;
	src: url("../fonts/HelveticaNeueUltraLight.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: HelveticaNeueUltraLightItalic;
	font-display: swap;
	src: url("../fonts/HelveticaNeueUltraLightItalic.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
